<ActionBar title="Server settings" class="action-bar">
    <NavigationButton text="Back"
                      android.systemIcon="ic_menu_back"
                      (tap)="onNavButtonTap()"></NavigationButton>
</ActionBar>
<StackLayout class="page">
    <Label text="The current server address is:"></Label>
    <Label [text]="serverAddress"></Label>

    <Label text="Enter a new server address:"></Label>
    <TextField hint="ip.ad.dr.ess:port / web.si.te:port"
               [(ngModel)]="enterAddress"
               (ngModelChange)="setConnectionChecks()"
               [class]="failedCheck ? 'warning' : (passedCheck ? 'available' : '')"></TextField>

    <Label [text]="failedCheck ? 'The server could not be connected to.' : ' '"
           class="warning"></Label>

    <Button (tap)="testConnection()"
            text="Test the connection"
            class="btn-primary"></Button>
    <Button (tap)="saveConnection()"
            text="Save address"></Button>

    <ActivityIndicator [busy]="isProcessing"
                       [visibility]="isProcessing ? 'visible' : 'collapse'"
                       horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</StackLayout>
