#about {
    background-image: url('res://MenuIcons/info');
}

#activity {
    background-image: url('res://MenuIcons/activity');
}

#coordinate {
    background-image: url('res://MenuIcons/coordinate');
}

#map {
    background-image: url('res://MenuIcons/map');
}

#person {
    background-image: url('res://MenuIcons/person');
}

#setting {
    background-image: url('res://MenuIcons/setting');
}
