<WrapLayout class="page">
    <Button id="person"
            class="menu-item btn-primary"
            [nsRouterLink]="['/person']"></Button>

    <Button id="activity"
            class="menu-item btn-primary"
            [nsRouterLink]="['/activity']"></Button>

    <Button id="coordinate"
            class="menu-item btn-primary"
            text="COORDINATE"></Button>

    <Button id="map"
            class="menu-item btn-primary"
            text="MAP"></Button>

    <Button id="setting"
            class="menu-item btn-primary"
            [nsRouterLink]="['/server']"></Button>

    <Button id="about"
            class="menu-item btn-primary"
            [nsRouterLink]="['/about']"></Button>
</WrapLayout>
