.menu-item {
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    clip-path: polygon(
        /* top-left corner */
        22.99% 6.03%,
        19.03% 6.73%,
        15.25% 8.11%,
        11.76% 10.12%,
        8.68% 12.70%,
        7.32% 14.19%,
        6.10% 15.79%,
        4.09% 19.27%,
        2.71% 23.05%,
        2.01% 27.01%,
        2.01% 31.03%,

        /* bottom-left corner */
        6.03% 77.01%,
        6.73% 80.97%,
        8.11% 84.75%,
        10.12% 88.24%,
        12.70% 91.32%,
        14.19% 92.68%,
        15.79% 93.90%,
        19.27% 95.91%,
        23.05% 97.29%,
        27.01% 97.99%,
        31.03% 97.99%,

        /* bottom-right corner */
        77.01% 93.97%,
        80.97% 93.27%,
        84.75% 91.89%,
        88.24% 89.88%,
        91.32% 87.30%,
        92.68% 85.81%,
        93.90% 84.21%,
        95.91% 80.73%,
        97.29% 76.95%,
        97.99% 72.99%,
        97.99% 68.97%,

        /* top-right corner */
        93.97% 22.99%,
        93.27% 19.03%,
        91.89% 15.25%,
        89.88% 11.76%,
        87.30% 8.68%,
        85.81% 7.32%,
        84.21% 6.10%,
        80.73% 4.09%,
        76.95% 2.71%,
        72.99% 2.01%,
        68.97% 2.01%
    );
}