#about {
    background-image: url('res://menu/info');
}

#activity {
    background-image: url('res://menu/activity');
}

#coordinate {
    background-image: url('res://menu/coordinate');
}

#map {
    background-image: url('res://menu/map');
}

#person {
    background-image: url('res://menu/person');
}

#setting {
    background-image: url('res://menu/setting');
}
