#about-page {
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

Label {
    color: whitesmoke;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
}

.block {
    margin-bottom: 10px;
}

#main-stack {
    background-color: rgba(0,0,0,0.5);
}

#license Label {
    color: lightsteelblue;
    font-size: 11px;
    text-align: left;
}

#license Label#cline {
    font-size: 14px;
    text-align: center;
}
