<ActionBar title="About" class="action-bar">
    <NavigationButton (tap)="onNavButtonTap()"
                      text="back"
                      android.systemicon="ic_menu_back"></NavigationButton>
</ActionBar>
<ScrollView id="about-page"
            class="page"
            orientation="vertical">
    <StackLayout id="main-stack" orientation="vertical">
        <StackLayout class="block"
                     orientation="vertical">
            <Label class="h1" text="PTT:"></Label>
            <Label class="h2" text="Presence Tracking Tool"></Label>
            <Label class="h3" [text]="'v' + version"></Label>
        </StackLayout>

        <StackLayout class="block"
                     orientation="vertical">
            <Label textwrap="true"
                   text="This mobile app is part of the Presence Tracking Tool."></Label>
            <Label textWrap="true"
                   text="PTT can be used to keep track of people distributed amongst several different activities in the broadest sense."></Label>
        </StackLayout>

        <StackLayout id="license"
                     class="block"
                     orientation="vertical">
            <Label id="cline"
                   textWrap="true"
                   text="Copyright 2017 Emiel Beeksma"></Label>
            <Label id="license"
                   textWrap="true"
                   text="Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the &quot;Software&quot;), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:"></Label>
            <Label id="license"
                   textWrap="true"
                   text="The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software."></Label>
            <Label id="license"
                   textWrap="true"
                   text="THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE."></Label>
        </StackLayout>

        <StackLayout class="block"
                     orientation="vertical">
            <Label textWrap="true"
                   text="Created using NativeScript**, Angular 2* and RxJS**. Uses the pulltorefresh**, appversion*, orientation* and screen-orientation* plugins for NativeScript and the reflect-metadata** node.js package. Decorated with Material Design icons**."></Label>
        </StackLayout>

        <StackLayout class="block"
                     orientation="vertical">
            <Label text="The licences for these are:"></Label>
            <Label text="*) MIT"
                   (tap)="openMITLicense()"></Label>
            <Label text="**) Apache 2.0"
                   (tap)="openApacheLicense()"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>
