@import 'nativescript-theme-core/css/core.dark.css';

.action-bar {
    font-size: xx-large;
}

.page > Label, .page > TextField, .page > Button {
    color: whitesmoke;
}

.menu-item {
    margin: 1.5% 2%;
    height: 30.35%;
    width: 46%;
}

.landscape .menu-item {
    margin: 2% 1.5%;
    height: 46%;
    width: 30.35%;
}

.attribute {
    orientation: vertical;
}

.attribute Label {
    font-size: xx-large;
    padding: 5%;
}

.attribute .attribute-name {
    width: 100%;
    color: #999;
}

.attribute .attribute-value {
    width: auto;
    font-size: larger;
    color: white;
}

.attribute .activity-picker {
    width: auto;
}

.landscape .attribute {
    orientation: horizontal;
}

.landscape .attribute .attribute-name {
    width: 30%;
}

.landscape .attribute .attribute-value {
    width: 70%;
}

.landscape .attribute .activity-picker {
    width: 70%;
}
