.url-btn {
    background-color: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50 50;
}

.activity-item {
    width: auto;
    horizontal-align: stretch;
}