<ActionBar title="Activities" class="action-bar">
    <NavigationButton (tap)="onNavButtonTap()"
                      text="Back"
                      android.systemIcon="ic_menu_back"></NavigationButton>

    <ActionItem [nsRouterLink]="['/activity/add']"
                android.systemIcon="ic_menu_add"
                android.position="actionBar"
                ios.systemIcon="4"
                ios.position="right"></ActionItem>
</ActionBar>

<StackLayout class="page">
    <PullToRefresh #pulllist (refresh)="refresh($event)">
        <ListView [items]="activities" class="list-group">
            <template let-item="item">
                <GridLayout columns="*,50" rows="*" width="100%">
                    <Label [nsRouterLink]="['/activity/id', item.id]"
                           col="0" row="0"
                           class="list-group-item activity-item"
                           [text]="item.toString()"></Label>
                    <Button *ngIf="item.url"
                            col="1" row="0"
                            class="url-btn"
                            (tap)="onURLButtonTap(item.id)"></Button>
                </GridLayout>
            </template>
        </ListView>
    </PullToRefresh>
</StackLayout>
