<ActionBar title="Details"
           class="action-bar"
           [ngSwitch]="true">
    <NavigationButton (tap)="onNavButtonTap()"
                      text="Back"
                      android.systemIcon="ic_menu_back"></NavigationButton>

    <ActionItem *ngSwitchCase="!addMode && !editMode"
                [nsRouterLink]="[route.snapshot.url.join('/'), 'edit']"
                (tap)="onEditButtonTap()"
                android.systemIcon="ic_menu_edit"
                android.position="actionBar"
                ios.systemIcon="2"
                ios.position="right"></ActionItem>

    <ActionItem *ngSwitchCase="!addMode && !editMode"
                (tap)="onDeleteButtonTap()"
                android.systemIcon="ic_menu_delete"
                android.position="actionBar"
                ios.systemIcon="16"
                ios.position="right"></ActionItem>

    <ActionItem *ngSwitchCase="editMode"
                (tap)="onSaveButtonTap()"
                android.systemIcon="ic_menu_save"
                android.position="actionBar"
                ios.systemIcon="3"
                ios.position="right"></ActionItem>

    <ActionItem *ngSwitchCase="addMode"
                (tap)="onAddButtonTap()"
                android.systemIcon="ic_menu_save"
                android.position="actionBar"
                ios.systemIcon="3"
                ios.position="right"></ActionItem>
</ActionBar>

<WrapLayout class="page">
    <StackLayout orientation="vertical">
        <StackLayout class="attribute"
                     [ngSwitch]="true">
            <Label *ngSwitchCase="addMode || editMode"
                   class="attribute-name"
                   text="Identifier"></Label>

            <Label *ngSwitchCase="activity && editMode"
                   class="attribute-value"
                   [text]="activity.id"></Label>
            <TextField *ngSwitchCase="activity && addMode"
                       class="attribute-value"
                       [(ngModel)]="activity.id"></TextField>
        </StackLayout>

        <StackLayout class="attribute"
                     [ngSwitch]="true">
            <Label class="attribute-name"
                   text="Name"></Label>

            <Label *ngSwitchCase="activity && !addMode && !editMode"
                   class="attribute-value"
                   [text]="activity.name"></Label>
            <TextField *ngSwitchCase="activity && (addMode || editMode)"
                       class="attribute-value"
                       [(ngModel)]="activity.name"></TextField>
        </StackLayout>

        <Button *ngIf="activity && !addMode && !editMode"
                [nsRouterLink]="['/person/act/', activity.id]"
                class="btn btn-primary"
                text="View persons"></Button>


        <StackLayout class="attribute"
                     [ngSwitch]="true">
            <Label *ngSwitchCase="addMode || editMode"
                   class="attribute-name"
                   text="URL"></Label>

            <WebView *ngSwitchCase="activity && !addMode && !editMode && !!activity.url"
                   [src]="activity.url"></WebView>
            <TextField *ngSwitchCase="activity && (addMode || editMode)"
                       class="attribute-value"
                       [(ngModel)]="activity.url"
                       keyboardType="url"></TextField>
        </StackLayout>
    </StackLayout>
</WrapLayout>