<ActionBar title="Details"
           class="action-bar"
           [ngSwitch]="true">
    <NavigationButton (tap)="onNavButtonTap()"
                      text="Back"
                      android.systemIcon="ic_menu_back"></NavigationButton>

    <ActionItem *ngSwitchCase="!addMode && !editMode"
                (tap)="onEditButtonTap()"
                android.systemIcon="ic_menu_edit"
                android.position="actionBar"
                ios.systemIcon="2"
                ios.position="right"></ActionItem>

    <ActionItem *ngSwitchCase="!addMode && !editMode"
                (tap)="onDeleteButtonTap()"
                android.systemIcon="ic_menu_delete"
                android.position="actionBar"
                ios.systemIcon="16"
                ios.position="right"></ActionItem>

    <ActionItem *ngSwitchCase="editMode"
                (tap)="onSaveButtonTap()"
                android.systemIcon="ic_menu_save"
                android.position="actionBar"
                ios.systemIcon="3"
                ios.position="right"></ActionItem>

    <ActionItem *ngSwitchCase="addMode"
                (tap)="onAddButtonTap()"
                android.systemIcon="ic_menu_save"
                android.position="actionBar"
                ios.systemIcon="3"
                ios.position="right"></ActionItem>
</ActionBar>

<WrapLayout class="page">
    <StackLayout orientation="vertical">
        <StackLayout class="attribute"
                     [ngSwitch]="true">
            <Label class="attribute-name"
                   text="First name"></Label>

            <Label *ngSwitchCase="person && !addMode && !editMode"
                   class="attribute-value"
                   [text]="person.name.first"></Label>
            <TextField *ngSwitchCase="person && (addMode || editMode)"
                       class="attribute-value"
                       [(ngModel)]="person.name.first"></TextField>
        </StackLayout>

        <StackLayout class="attribute"
                     [ngSwitch]="true">
            <Label class="attribute-name"
                   text="Surname prefix"></Label>

            <Label *ngSwitchCase="person && !addMode && !editMode"
                   class="attribute-value"
                   [text]="person.name.prefix"></Label>
            <TextField *ngSwitchCase="person && (addMode || editMode)"
                       class="attribute-value"
                       [(ngModel)]="person.name.prefix"></TextField>
        </StackLayout>

        <StackLayout class="attribute"
                     [ngSwitch]="true">
            <Label class="attribute-name"
                   text="Surname"></Label>

            <Label *ngSwitchCase="person && !addMode && !editMode"
                   class="attribute-value"
                   [text]="person.name.last"></Label>
            <TextField *ngSwitchCase="person && (addMode || editMode)"
                       class="attribute-value"
                       [(ngModel)]="person.name.last"></TextField>
        </StackLayout>

        <StackLayout class="attribute"
                     [ngSwitch]="true">
            <Label class="attribute-name"
                   text="Phone number"></Label>

            <Label *ngSwitchCase="person && !addMode && !editMode"
                   class="attribute-value"
                   [text]="person.phone"></Label>
            <TextField *ngSwitchCase="person && (addMode || editMode)"
                       class="attribute-value"
                       [(ngModel)]="person.phone"
                       keyboardType="phone"></TextField>
        </StackLayout>

        <StackLayout class="attribute"
                     [ngSwitch]="true">
            <Label class="attribute-name"
                   text="Activity"></Label>

            <Label *ngSwitchCase="person && !addMode && !editMode"
                   class="attribute-value"
                   [text]="person.activity"></Label>
            <ListPicker *ngSwitchCase="person && (addMode || editMode)"
                        class="activity-picker"
                        style="color:white"
                        [items]="activities"
                        [(ngModel)]="selectedActivity"></ListPicker>
        </StackLayout>
    </StackLayout>
</WrapLayout>
