<ActionBar title="Persons" class="action-bar">
    <NavigationButton (tap)="onNavButtonTap()"
                      text="Back"
                      android.systemIcon="ic_menu_back"></NavigationButton>

    <ActionItem *ngIf="!activity"
                [nsRouterLink]="['/person/add']"
                android.systemIcon="ic_menu_add"
                android.position="actionBar"
                ios.systemIcon="4"
                ios.position="right"></ActionItem>
</ActionBar>

<StackLayout class="page">
    <PullToRefresh #pulllist (refresh)="refresh($event)">
        <ListView [items]="persons" class="list-group">
            <template let-item="item">
                <Label [nsRouterLink]="['/person/id', item.id]"
                       class="list-group-item"
                       [text]="item.toString()"></Label>
            </template>
        </ListView>
    </PullToRefresh>
</StackLayout>
